
#gameElement,
.popup {
  width: 100%;
}

.game {
  background-color: rgba(255, 255, 255, 0.35);
  padding: 60px;
  border-radius: 30px;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message {
  color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
}

.hide {
  opacity: 0;
}

.mainColor {
  box-shadow: 0 0px 0 #666, 0 0px 0 #444, 0 0px 10px rgba(0, 0, 0, 0.312);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: gray;
  transition: 0.3s;
} 

.colorButton {
  width: 100%;
  height: 100%;
  border: none;
}

.buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 20px;
}


.color-blue {
  background-color: #6ed8ff;
  transition: 0.3s;
}

button.color-blue:active {
  background-color: #83deff;
  transition: 0s;
}

.color-pink {
  background-color: #ffcfd2;
  transition: 0.3s;
}

button.color-pink:active {
  background-color: #ffe0e2;
  transition: 0s;
}

.color-red {
  background-color: #ff244c;
  transition: 0.3s;
}
button.color-red:active {
  background-color: #ff4e6e;
  transition: 0s;
}
.color-green {
  background-color: #18ff6d;
  transition: 0.3s;
}
button.color-green:active {
  background-color: #6bffa1;
  transition: 0s
}
.color-yellow {
  background-color: #ffee70;
  transition: 0.3s;
}
button.color-yellow:active {
  background-color: #fff9d0;
  transition: 0s
}
.color-purple {
  background-color: #a970ff;
  transition: 0.3s;
}
button.color-purple:active {
  background-color: #c7a1ff;
  transition: 0s
}
.color-orange {
  background-color: #ff8418;
  transition: 0.3s;
}
button.color-orange:active {
  background-color: #ffb87a;
  transition: 0s
}
.color-cyan {
  background-color: #18fff0;
  transition: 0.3s;
}
button.color-cyan:active {
  background-color: #7afff6;
  transition: 0s
}

.buttons button{
  border-radius: 10px;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
 transition: all 150ms ease;
}

button:active
{
	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
	transform: translateY(3px);
} 