.closed {
  display: none;
  visibility: hidden;
}

#backButton {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
}

.content {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  background-color: rgba(106, 106, 106, 0.294);
  padding: 60px;
  border-radius: 30px;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#ended {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20pt;
  position: absolute;
  background-color: blueviolet;
}

.popup {
  position: absolute;
}

.ui {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 20;
}

.ui p,
.ui span {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-size: 14pt;
  text-shadow: 0 1px 0 #666, 0 0px 0 #444, 0 0px 6px rgba(0, 0, 0, 0.6);
}

.ui #hint {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.ui #quit {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.ui #timer {
  position: absolute;
  top: 30px;
  left: 30px;
}

.ui #score {
  position: absolute;
  top: 60px;
  left: 30px;
}

.ui #player {
  position: absolute;
  top: 30px;
  right: 30px;
}

.ui #mute{
  position: absolute;
  bottom: 30px;
  left: 100px;
}
.ui button {
  color: black;
  background: none;
  border: none;
  font-size: 20pt;
  background-color: white;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  transform: 0.3s;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
  transition: all 150ms ease;
  pointer-events: all;
}

.ui button:active {
  box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0, 0, 0, 0.9);
  transform: translateY(3px);
}

.ui button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

 
#quitPopUp, #hintPopUp {
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  display: flex;
  z-index: 30;
  background: rgba(0, 0, 0, 0.51);
}

#quitPopUp > div , #hintPopUp > div {

  flex-direction: column;
  border: 4px solid white;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  position: relative;
  background: black;
  text-align: center;
}

#quitPopUp > div > h1 ,#quitPopUp > div > h4{
  padding-bottom: 50px;
  padding-top: 50px;
  width: 80%;
}
#hintPopUp > div >p {
  padding: 50px;
}
#quitPopUp #back, #hintPopUp #back  {
  background: none;
  outline: none;
  color: white;
  margin-right: auto;
  position: absolute;
  right: 20px;
}

#quitPopUp #back:hover, #hintPopUp #back:hover {
  font-size: 17pt;
  outline: none;
}


#quitPopUp button, #hintPopUp button, #descriptionText button {
  color: black;
  background-color: white;
  border: none;
  padding: 20px;
  font-size: 15pt;
  transition: 0.2s;
}

#quitPopUp button:hover, #descriptionText button:hover {
  background-color: black;
  outline: 2px solid white;
  color: white;
  font-weight: 700;
}

#quitPopUp button:active, #hintPopUp button:active, #descriptionText button:active {
  box-shadow: none;
}

#quitPopUp.closed button, #hintPopUp.closed button{
  transition: 0s !important;
}

#descriptionText .text{
  border: 4px solid white;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  position: relative;
  background: black;
  text-align: center;
  font-size: 15pt;
}


#descriptionText .text p {
  padding-bottom: 20px;
}
body {
  background-color: rgb(0, 0, 0);
}

.fadeIn{
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.world{
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -10;
}

.world img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  padding: 0;
  margin: 0;
}