@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'IBM Plex Mono', monospace; */

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav {
  position: absolute;
  z-index: 100;
}

:root {
  --text-color: #000000;
  --text-background-color: #ffffff;
  --border-color: #000000;
}

* {
  padding: 0;
  margin: 0;
}

body {
  /*Basic Font Styling*/
  background-color: cadetblue;
  font-family: "IBM Plex Mono", monospace;
  font-size: 22px;
  color: white;
}

#mainbox {
  display: flex;
  width: 100%;
  height: 100%;
}

#secondbox {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  max-width: 100%;
  width: 1000px;
  
}

#namebox {
  background-color: #000000;
  width: fit-content;
  margin: 30px;
}

#textbox {
  background-color: #000000;
  height: 300px;
  max-width: 100%;
  width: 1000px;
  margin: 30px;
}
#spritebox {
  width: 30%;
  height: 100%;
}

#spritebox img {
  max-width: 100%;
}

/* https://app.qoom.io/tutorials/vnengine/guide.md */
